doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous")
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous")
        title PRODUCTOS
    body 
       main.container
        h3(style={margin : '2rem 0'})  Lista de Productos
        if productos.length 
            //- console.log  #{productos[0].title }
            table.table.table-bordered.border-dark
                thead.thead-dark 
                    tr 
                    th(scope:'col') Nombre
                    th(scope:'col') Precio
                    th(scope:'col') Imagen

                tbody 
                    
                    each producto in productos   
                        tr(scope:'row')
                        td  #{producto.title}                       
                        td  #{producto.price }  
                        td 
                        
                         img(src=producto.thumbnail, alt=producto.title, style={width:'3rem'})
                                
                    
        else 
            p(style={color: 'red'}) No hay ningun producto
    
        
    
        a(href="/volver" class='btn btn-primary') AGREGAR MAS PRODUCTOS

